[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Bucky Barnes
	email = 103891698+KoMaR005@users.noreply.github.com
